@model List<Category>

@{
    var count = 1;
    ViewData["Title"] = "Category";
}

<div class="card shadow mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">Category List</div>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary" onclick="CreateModal(event, this, 'Create New Category')">
                    <i class="fa-solid fa-circle-plus"></i>
                    Create New Category
                </a>
            </div>
        </div>

    </div>
    <div class="card-body">
        @if (Model != null && Model.Any())
        {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col">SL#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Display Order</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@category.Name</td>
                            <td>@category.DisplayOrder</td>
                            <td>
                                <div class="btn-group w-100" role="group" aria-label="Basic example">
                                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" onclick="CreateModal(event, this, 'Edit Category')"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-controller="Category" onclick="Delete(event, this, '@category.Id', '@category.Name')"><i class="fa-solid fa-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No records found</div>
        }
    </div>
    <div class="card-footer">
        <helper-pagination-for page-url="@Url.Action("Index", "Category", new { Area="Admin" })"
                               current-page=@ViewBag.Page
                               total-pages=1000>
        </helper-pagination-for>

    </div>
</div>
