@using Utility.Helpers
@model PagedList

@{
    var count = Model.FirstItemOnPage;
    ViewData["Title"] = "Category";
}

<div class="card shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">Category List</div>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="Category"
                   asp-action="Create"
                   class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i>
                    Create New Category
                </a>
            </div>
        </div>

    </div>
    <div class="card-body">
        @if (Model.categories != null && Model.categories.Any())
        {
            <table class="table table-responsive table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">SL.</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.categories!.FirstOrDefault()!.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.categories!.FirstOrDefault()!.DisplayOrder)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var category in Model.categories)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                <a asp-area="Admin"
                                   asp-controller="Category"
                                   asp-action="View"
                                   asp-route-Id="@category.Id"
                                   asp-route-page="@Model.PageNumber"
                                   asp-route-pageSize="@Model.PageSize"
                                   class="">@category.Name</a>
                            </td>
                            <td>@category.DisplayOrder</td>
                            <td>
                                <div class="btn-group w-100 btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-controller="Category" onclick="Delete(event, this, '@category.Id', '@category.Name')"><i class="fa-solid fa-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>

            <div class="card-footer">
                <helper-pagination-for page-url="@Url.Action("Index", "Category", new { Area="Admin" })"
                                       Model="@Model">
                </helper-pagination-for>
            </div>
        }
        else
        {
            <div>No records found</div>
        }
    </div>

</div>
