@using Utility.Helpers
@model PagedList

@{
    var count = Model.FirstItemOnPage;
    ViewData["Title"] = "Product";
}

<div class="card shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">Product List</div>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i>
                    Create New Product
                </a>
            </div>
        </div>

    </div>
    <div class="card-body">
        @if (Model.products != null && Model.products.Any())
        {
            <table class="table table-responsive table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">SL.</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.products!.FirstOrDefault()!.Title)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.products!.FirstOrDefault()!.Price)</th> 
                        <th scope="col">@Html.DisplayNameFor(m => m.products!.FirstOrDefault()!.DiscountPercentage)</th>  
                        <th scope="col">@Html.DisplayNameFor(m => m.products!.FirstOrDefault()!.Category!.Name)</th>  
                        <th></th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var product in Model.products)
                    {
                        <tr>
                            <td>@count</td>
                            <td><a class="" asp-action="View" asp-controller="Product" asp-route-productId="@product.Id">@product.Title</a></td>
                            <td>@product.Price</td>
                            <td>@product.DiscountPercentage</td>
                            <td>@product.Category!.Name</td>
                            <td>
                                <div class="btn-group w-100 btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Product" asp-route-id="@product.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-controller="Product" onclick="Delete(event, this, '@product.Id', '@product.Title')"><i class="fa-solid fa-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>

            <div class="card-footer">
                <helper-pagination-for page-url="@Url.Action("Index", "Product", new { Area="Admin" })"
                                       Model="@Model">
                </helper-pagination-for>

            </div>
        }
        else
        {
            <div>No records found</div>
        }
    </div>
    
</div>
